@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide the scrollbar thumb in Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}


::-webkit-scrollbar-thumb {
  background-color: none; /* Hide the scrollbar thumb */
}

/* Hide scrollbars in Firefox */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(206, 215, 223);
}

body {
  scrollbar-width: none; /* Hide scrollbars in Firefox */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
